
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN EN ESPAÑOL</title>
</head>
<body>
    <h1>Iniciar sesion del usuario</h1>
  <form method="POST" action="../crear_usuari/index.php">
        <div>
            <label>Correo Electronico</label><br>
            <input type="text" name="email"><br>
        </div>

        <div>
            <label>Contraseña</label><br>
            <input type="text" name="password"><br>
        </div>
        <div>
            <input type="checkbox" name="remember">
            <label>Recuerda-me</label><br>
          </div>
        <input type="submit" value="Enviar" name="send">
        <a href="crearUsuarioEspañol.html">Crear usuario</a> 
        <a href="../cookies/deleteCookie.php">Borrar Cookie</a>
        <a href="escollir_idioma.php">Escoge Idioma</a>
  </form>
</body>
</html>