<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN EN CATALAN</title>
</head>
<body>
    <h1>Iniciar sessió de l'usuari</h1>
  <form method="POST" action="../iniciar_sessio/userLogin.php">
        <div>
            <label>Correu Electrònic</label><br>
            <input type="text" name="email"><br>
        </div>

        <div>
            <label>Contrasenya</label><br>
            <input type="text" name="password"><br>
        </div>
        <div>
            <input type="checkbox" name="remember">
            <label>recorda'm</label><br>
          </div>
        <input type="submit" value="Enviar" name="send">
        <a href="crearUsuariCatala.html">Crear Usuari</a> 
  </form>
</body>
</html>