<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sessión</title>
</head>
<body>
    <h1>Inicio de sessión de el usuario</h1>

    <form method="POST" action="../iniciar_sessio/userLogin.php">
            <h3>Email: <input type="email" name="email"></h3>
            <h3>Contraseña: <input type="text" name="passwd"></h3>
            <h3><input type="checkbox" name="recordarme"> Recordarme:</h3>
            <input type="submit" name="enviar"><br><br>

            <a href="../views/registerEspañol.html">Crear usuario</a>
            <a href="../cookie/deleteCookie.php">Eliminar Cookie</a>
            <a href="../views/seleccio_idioma.php">Idioma</a>
            

    </form>
</body>
</html>