<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>User login</h1>

    <form method="POST" action="../iniciar_sessio/userLogin.php">
            <h3>Gmail: <input type="email" name="email"></h3>
            <h3>Password: <input type="text" name="passwd"></h3>
            <h3><input type="checkbox" name="recordarme"> Remember me:</h3>
            <input type="submit" name="enviar"><br><br>

            <a href="../views/registerEnglish.html">Create user</a>
            <a href="../cookie/deleteCookie.php">Delete Cookie</a>
            <a href="../views/seleccio_idioma.php">Language</a>
            

    </form>
</body>
</html>