<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Usuario</title>
</head>

<body>
    <h1>Crear Usuario</h1>
    <form method="POST" action="../crear_usuari/index.php">
        <h3>ID:<input name="identifier"></input><h3>
        <h3>ROL:<select name="rol">
            <option value="P">Professor</option>
            <option value="A">Alumno</option>
        </select><h3>
        <h3>NOMBRE:<input name="namee"></input><h3>
        <h3>APELLIDO:<input name="surname"></input><h3>
        <h3>EMAIL:<input type="email" name="email"></input><h3>
        <h3>CONTRASEÑA:<input name="passwd"></input><h3>
        <h3>ACTIVO:<input type="checkbox" name="activo"></input><h3>
        <input type="submit" value="Enviar" name = "send"/><br>
        <a href="loginEspañol.html">Iniciar Sessión</a>
        <a href="../cookie/deleteCookie.php">Eliminar Cookie</a>
        <a href="../views/seleccio_idioma.php">Idioma</a>


    </form>
</body>
</html>